/* ============================================================
   BRAND SOLUTIONS PAGE
   ============================================================ */

.brand-solutions {
  container: brand-solutions / inline-size;
  display: flex;
  flex-direction: column;
  font-family: "Zalando Sans";
  line-height: normal;
  letter-spacing: 0px;
  background-color: #fff;
  overflow: hidden;
}

.brand-solutions-subtitle {
  color: #000;
  font-size: 36px;
  font-weight: 400;
}

/* title */

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 36px;
}

.title-scroll-indicator {
  width: 214px;
  height: 17px;
  flex-shrink: 0;
}

.title-subtitle {
  text-align: left;
}
/* end title */

.case-study-scroll-img {
  flex-shrink: 0;
  border-radius: 3px;
}

.brand-solutions-hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #fff;
  overflow: hidden;
}

.brand-solutions-sdc {
  position: absolute;
  top: 1px;
  left: 0;
  right: -1px;
  width: calc(100% - 0px - -1px);
  max-width: none;
}

.brand-solutions-col1 {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 218px;
  padding-bottom: 303px;
}

.brand-solutions-rect {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.57;
  height: 1082px;
  background-color: #070707;
}

/* brand-solutions page header overrides */

.brand-solutions .header {
  position: relative;
  z-index: 1;
  margin: 0 -1px 0 0;
  font-weight: 400;
  padding: 32px 56px;
}

.brand-solutions .header-row {
  max-width: 1809px;
}

.brand-solutions-content1 {
  position: relative;
  z-index: 2;
  width: calc(100% - 942px);
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  align-self: center;
  font-size: 40px;
}

.brand-solutions-subtitle-id8nxt-is-where {
  align-self: stretch;
  font-weight: 700;
  text-align: center;
}

.brand-solutions-subtitle1 {
  font-size: unset;
  text-align: left;
}

.brand-solutions-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 145px 349px 144px 350px;
}

.brand-solutions-content2 {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.brand-solutions-subtitle3 {
  align-self: stretch;
  color: #dc1f3e;
  font-size: 40px;
  font-weight: 600;
}

.brand-solutions-services {
  margin-top: 100px;
  align-items: flex-end;
  gap: 100px;
  color: #000;
}

.brand-solutions-our-services {
  width: 100%;
  max-width: 1720px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* all-collapsed */

.all-collapsed {
  container: all-collapsed1 / inline-size;
  display: flex;
  flex-direction: column;
  font-size: 65px;
  font-weight: 300;
}

/* dropdown-tile */

.dropdown-tile {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 70px;
  padding-bottom: 68px;
  border-bottom: 2px solid #cecece;
}

.dropdown-tile-arrow {
  width: 58px;
  flex-shrink: 0;
}

.dropdown-tile-subtitle {
  text-align: left;
}
/* end dropdown-tile */
/* end all-collapsed */

.brand-solutions-subtitle-our-services {
  color: unset;
}

.brand-solutions-subtitle4 {
  border-bottom: 3px solid #000;
}

.brand-solutions-featured {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 54px;
  color: #000;
  font-weight: 400;
  background-color: #fff;
  padding: 100px;
  overflow: hidden;
}

.brand-solutions-works {
  container: brand-solutions-works / inline-size;
  width: 100%;
  max-width: 1720px;
  display: flex;
  flex-direction: column;
  gap: 49px;
}

/* case-study-scroll */

.case-study-scroll {
  container: case-study-scroll / inline-size;
  margin-right: -170px;
  font-size: 20px;
}

.case-study-scroll-container {
  container: case-study-scroll-container / inline-size;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.case-study-scroll-past-plus {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.case-study-scroll-col {
  width: 847px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  text-align: left;
}

.case-study-scroll-roman-ultra {
  width: 100%;
  max-width: 843px;
  flex-shrink: 0;
}
/* end case-study-scroll */

.scroll .case-study-scroll-u3226819771 {
  width: 492px;
}

.scroll .case-study-scroll-text {
  align-self: stretch;
}

.scroll .case-study-scroll-u2881865955 {
  width: 491px;
}

.brand-solutions-subtitle5 {
  font-weight: unset;
  border-bottom: 3px solid #000;
}

.brand-solutions-problem {
  display: flex;
  align-items: flex-start;
  gap: 55px;
  color: #fff;
  background-color: #dc1f3e;
  padding: 100px 733px 318px 100px;
}

/* problem */

.problem {
  margin-top: 437px;
  width: 542px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex-shrink: 0;
  text-align: left;
}

.problem-subtitle {
  font-size: 36px;
  font-weight: 700;
}
/* end problem */

.brand-solutions-subtitle-if-these-problems {
  flex-grow: 1;
  font-size: 48px;
  font-weight: 400;
  text-align: left;
}

.brand-solutions-get-in-touch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  background-color: #dc1f3e;
  padding: 300px 24px;
}

.brand-solutions-subtitle-want-a-strategic {
  width: 100%;
  max-width: 960px;
  font-size: 70px;
}

.brand-solutions-text-tell-us-the {
  width: 100%;
  max-width: 960px;
}

.brand-solutions-subtitle6 {
  text-align: left;
}

.brand-solutions-clent-work {
  container: brand-solutions-clent-work / inline-size;
  margin-top: 100px;
  align-items: flex-start;
  gap: 69px;
}

.brand-solutions-subtitle-how-we-have {
  align-self: stretch;
}

.brand-solutions-card-stack {
  margin-left: 1px;
  width: 100%;
  max-width: 1711px;
  display: flex;
  align-items: center;
  gap: 56px;
  align-self: center;
  color: #fff;
  background: linear-gradient(180deg, #424242 0%, #111 100%) top left / auto
    auto no-repeat;
  padding: 76px 58px;
  border-radius: 5px;
}

.brand-solutions-overview {
  display: flex;
  flex-direction: column;
  gap: 142px;
  flex-grow: 1;
  text-align: left;
}

.brand-solutions-subtitle-company-name {
  font-size: 48px;
  font-weight: 600;
}

.brand-solutions-col2 {
  display: flex;
  flex-direction: column;
  gap: 48px;
  font-size: 20px;
  font-weight: 400;
}

.brand-solutions-roman-ultra {
  min-width: 0;
  flex-grow: 1;
}

.brand-solutions-info-content {
  width: 247px;
  display: flex;
  flex-direction: column;
  gap: 92px;
  flex-shrink: 0;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.brand-solutions-text-top {
  color: #9a9a9a;
}

.brand-solutions-text {
  line-height: 1.6;
}

.brand-solutions-text-bottom {
  margin-top: 6px;
  align-self: start;
  font-size: 24px;
  text-align: center;
  padding: 0 2px 7px 2px;
  border-bottom: 3px solid #fff;
}

.brand-solutions-row {
  margin-top: 249px;
  display: flex;
  align-items: flex-start;
  gap: 372px;
  color: #000;
  padding-left: 110px;
  padding-right: 100px;
}

.brand-solutions-subtitle-faqs {
  margin-top: 60px;
  font-size: 36px;
  font-weight: 400;
  text-align: left;
}

.brand-solutions-faq-stack {
  container: brand-solutions-faq-stack / inline-size;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 40px;
  font-weight: 300;
}

/* frame */

.frame {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 51px;
  padding-bottom: 48px;
  border-bottom: 3px solid #aeaeae;
}

.frame-subtitle {
  flex-grow: 1;
  text-align: left;
}

.frame-arrow-drop {
  width: 58px;
  flex-shrink: 0;
}
/* end frame */

.brand-solutions-faq-dropdown {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 31px;
  padding-bottom: 28px;
  border-bottom: 3px solid #aeaeae;
}

.brand-solutions-subtitle-what-s-the {
  flex-grow: 1;
  text-align: left;
}

.brand-solutions-arrow-drop {
  width: 58px;
  flex-shrink: 0;
}

.brand-solutions-alsofrom {
  container: brand-solutions-works / inline-size;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 49px;
  color: #000;
  background-color: #fff;
  padding: 150px 0;
  overflow: hidden;
}

.title2 {
  font-weight: 400;
  padding-left: 100px;
  padding-right: 100px;
}

.brand-solutions-scroll {
  container: brand-solutions-scroll / inline-size;
  margin-left: 100px;
  margin-right: -190px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 80px;
  font-size: 20px;
}

.brand-solutions-id8films {
  display: flex;
  align-items: center;
  gap: 20px;
}

.brand-solutions-img1 {
  position: relative;
  width: 704px;
  flex-shrink: 0;
}

.brand-solutions-brewingid8nxt {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.brand-solutions-group1 {
  position: relative;
  z-index: 1;
  margin-top: -704px;
  height: 703px;
  background-color: rgba(0, 0, 0, 0.7);
}

.brand-solutions-graphic {
  position: absolute;
  top: 265px;
  left: 50%;
  translate: -50% 0;
  width: 248px;
  height: 124px;
}

.brand-solutions-content3 {
  width: 503px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 332px;
  flex-shrink: 0;
  text-align: left;
}

.brand-solutions-text-ai-video {
  align-self: stretch;
}

.brand-solutions-text-btn {
  padding: 10px 11px 8px 11px;
  border-bottom: 2px solid #000;
}

.brand-solutions-id8dev-hub {
  display: flex;
  align-items: flex-start;
  padding-right: 190px;
}

.brand-solutions-group2 {
  position: relative;
  width: 513px;
  height: 706px;
  flex-shrink: 0;
}

.brand-solutions-img2 {
  position: absolute;
  top: 0;
  left: 0;
  right: -190px;
  width: calc(100% - 0px - -190px);
  max-width: none;
}

.brand-solutions-group3 {
  position: relative;
  margin-left: -513px;
  width: 513px;
  height: 705px;
  flex-shrink: 0;
  background-color: rgba(0, 38, 89, 0.7);
}

.brand-solutions-layer {
  position: absolute;
  top: 320px;
  right: 0;
  width: 336px;
  height: 67px;
}

/* brand-solutions breakpoints */

@media screen and (max-width: 1280px) {
  .brand-solutions-about {
    padding-inline: var(--margin-md);
  }
  .brand-solutions-featured {
    padding-inline: var(--margin-md);
  }
  .brand-solutions-problem {
    padding-inline: var(--margin-md);
  }
  .brand-solutions-get-in-touch {
    padding-inline: var(--margin-sm);
  }
  .brand-solutions-card-stack {
    padding-inline: var(--margin-md);
  }
  .brand-solutions-row {
    padding-inline: var(--margin-md);
  }
  .title2 {
    padding-inline: var(--margin-md);
  }
  .brand-solutions-id8dev-hub {
    padding-inline: 0;
  }
  .brand-solutions-group3 {
    margin-inline: 0;
  }
}

@media screen and (max-width: 576px) {
  .brand-solutions-about {
    padding-inline: var(--margin-sm);
  }
  .brand-solutions-featured {
    padding-inline: var(--margin-sm);
  }
  .brand-solutions-problem {
    padding-inline: var(--margin-sm);
  }
  .brand-solutions-card-stack {
    padding-inline: var(--margin-sm);
  }
  .brand-solutions-row {
    padding-inline: var(--margin-sm);
  }
  .title2 {
    padding-inline: var(--margin-sm);
  }
}

/* brand-solutions container queries */

@container brand-solutions-works (width < 453px) {
  .title {
    flex-direction: column;
    align-items: center;
    gap: 13px;
  }
  .brand-solutions-works > * {
    margin-left: 0;
    margin-right: 0;
  }
  .title > * {
    text-align: center;
  }
}

@container all-collapsed1 (width < 571px) {
  .dropdown-tile {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .dropdown-tile > * {
    text-align: center;
  }
}

@container case-study-scroll (width < 1889px) {
  .case-study-scroll-container {
    flex-direction: column;
    align-items: center;
    gap: 54px;
  }
  .case-study-scroll-container > * {
    text-align: center;
  }
  .case-study-scroll-container > .case-study-scroll-u2881865955 {
    width: 100%;
    max-width: 491px;
  }
}

@container case-study-scroll-container (width < 1367px) {
  .case-study-scroll-past-plus {
    flex-direction: column;
    align-items: center;
    gap: 54px;
  }
  .case-study-scroll-past-plus > * {
    text-align: center;
  }
  .case-study-scroll-past-plus > .case-study-scroll-u3226819771 {
    width: 100%;
    max-width: 492px;
  }
  .case-study-scroll-past-plus > .case-study-scroll-col {
    width: 100%;
    max-width: 847px;
    align-items: center;
  }
}

@container brand-solutions (width < 1909px) {
  .brand-solutions-problem {
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
  }
  .brand-solutions-problem > * {
    margin-top: unset !important;
  }
  .brand-solutions-problem > .brand-solutions-subtitle-if-these-problems {
    width: 100%;
  }
  .brand-solutions-problem > .content {
    width: 100%;
    max-width: 542px;
  }
  .brand-solutions-row {
    flex-direction: column;
    align-items: stretch;
    gap: 44px;
  }
  .brand-solutions-row > * {
    margin-top: unset !important;
  }
}

@container brand-solutions-clent-work (width < 1445px) {
  .brand-solutions-card-stack {
    flex-direction: column;
    align-items: center;
    gap: 63px;
  }
  .brand-solutions-card-stack > * {
    text-align: center;
  }
  .brand-solutions-card-stack > .brand-solutions-overview {
    width: 100%;
  }
  .brand-solutions-card-stack > .brand-solutions-roman-ultra {
    width: 100%;
  }
  .brand-solutions-card-stack .brand-solutions-text-bottom {
    align-self: center;
  }
  .brand-solutions-card-stack > .brand-solutions-info-content > * {
    text-align: unset;
  }
}

@container brand-solutions-faq-stack (width < 1245px) {
  .frame {
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }
  .frame > * {
    text-align: center;
  }
  .frame > .frame-subtitle {
    width: 100%;
  }
  .brand-solutions-faq-dropdown {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .brand-solutions-faq-dropdown > * {
    text-align: center;
  }
  .brand-solutions-faq-dropdown > .brand-solutions-subtitle-what-s-the {
    width: 100%;
  }
}

@container brand-solutions-works (width < 1909px) {
  .brand-solutions-scroll {
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
  .brand-solutions-scroll > * {
    text-align: center;
  }
}

@container brand-solutions-scroll (width < 1226px) {
  .brand-solutions-id8films {
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
  .brand-solutions-id8films > * {
    text-align: center;
  }
  .brand-solutions-id8films > .brand-solutions-img1 {
    width: 100%;
    max-width: 704px;
    align-items: center;
  }
  .brand-solutions-id8films > .brand-solutions-content3 {
    width: 100%;
    max-width: 503px;
    align-items: center;
  }
}

@container brand-solutions-scroll (width < 702px) {
  .brand-solutions-id8dev-hub {
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
  .brand-solutions-id8dev-hub > * {
    margin-left: unset !important;
  }
  .brand-solutions-id8dev-hub > .brand-solutions-group2 {
    width: 100%;
    max-width: 513px;
  }
  .brand-solutions-id8dev-hub > .brand-solutions-group3 {
    width: 100%;
    max-width: 513px;
  }
}
