/* ============================================================
   OUR WORK PAGE
   ============================================================ */

.our-work {
  display: flex;
  flex-direction: column;
  font-family: "Zalando Sans";
  line-height: normal;
  letter-spacing: 0px;
  background-color: #fff;
  overflow: hidden;
}

/* our-work hero header section */

.header1 {
  gap: 176px;
  color: #000;
  font-weight: 400;
  text-align: center;
  background-color: #fff;
  padding-top: 32px;
  padding-bottom: 169px;
}

.header-content2 {
  width: 100%;
  max-width: 978px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.header-subtitle-our-work {
  font-size: 64px;
}

.header-subtitle-built-through {
  font-size: 40px;
}

.our-work-section {
  margin-top: 100px;
  gap: 99px;
  color: #000;
  font-weight: 400;
  text-align: left;
}

.our-work-works {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 52px;
  font-size: 20px;
}

.our-work-filters {
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

/* industries */

.industries {
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 0 19px;
  border: 1px solid var(--black);
  border-radius: 5px;
}

.industries-text {
  color: var(--black);
  font-size: 16px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  line-height: 1.49;
  letter-spacing: 0px;
  text-align: left;
}

.industries-keyboard {
  width: 24px;
  flex-shrink: 0;
}
/* end industries */

.services {
  width: 256px;
}

.industries1 {
  width: 254px;
}

.our-work-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* client-card */

.client-card {
  margin-top: -364px;
  width: 100%;
  max-width: 593px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.client-card-roman-ultra {
  margin-right: 2px;
  flex-shrink: 0;
  border-radius: 3px;
}
/* end client-card */

.client-card1 {
  margin-top: 0;
}

.client-card2 {
  margin-left: 613px;
}

.client-card3 {
  margin-left: 1226px;
}

.client-card4 {
  margin-left: 613px;
  margin-top: 22px;
}

.client-card6 {
  margin-left: 1226px;
}

.client-card7 {
  margin-top: 22px;
}

.client-card8 {
  margin-left: 613px;
}

.client-card9 {
  margin-left: 1226px;
}

.our-work-subtitle1 {
  font-weight: unset;
  padding-left: 13px;
  padding-right: 11px;
  border-bottom: 3px solid #000;
}

.our-work-get-in-touch {
  margin-top: 100px;
  gap: 25px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  background-color: #dc1f3e;
  padding-top: 300px;
  padding-bottom: 300px;
}

.our-work-subtitle-ready-to-build {
  width: 100%;
  max-width: 960px;
  font-size: 70px;
}

.our-work-text {
  width: 100%;
  max-width: 960px;
}

.our-work-subtitle2 {
  text-align: left;
}

/* our-work breakpoints */

@media screen and (max-width: 1280px) {
  .client-card-roman-ultra {
    margin-inline: 0;
  }
  .client-card2 {
    margin-inline: 0;
  }
  .client-card3 {
    margin-inline: 0;
  }
  .client-card4 {
    margin-inline: 0;
  }
  .client-card6 {
    margin-inline: 0;
  }
  .client-card8 {
    margin-inline: 0;
  }
  .client-card9 {
    margin-inline: 0;
  }
}

/* our-work container queries */

@container header (width < 795px) {
  .header-content {
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }
  .header-content > * {
    text-align: center;
  }
}

@container header-content (width < 663px) {
  .header-left-links {
    flex-direction: column;
    align-items: center;
    gap: 13px;
  }
  .header-left-links > * {
    margin-left: unset !important;
    text-align: center;
  }
}
