.our-work {
	display: flex;
	flex-direction: column;
	gap: 100px;
	color: #000;
	font-family: 'Zalando Sans';
	line-height: normal;
	letter-spacing: 0px;
	background-color: #fff;
	overflow: hidden;
}

.dropdown {
	width: 17px; height: 17px;
	flex-shrink: 0;
}

.text {
	text-transform: uppercase;
	text-align: left;
}

.subtitle-button-styles {
	font-size: 40px;
	padding-top: 10px;
	padding-bottom: 7px;
}



/* films-footer-animation */

.films-footer-animation {
	container: films-footer-animation / inline-size;
	display: flex;
	flex-direction: column;
	gap: 25px;
	background-color: #000;
	padding-top: 60px;
	overflow: hidden;
}



/* footer */

.footer {
	position: relative;
	margin-bottom: -92px;
	min-height: 380px;
	flex-shrink: 0;
	font-size: 540px;
	font-weight: 500;
	line-height: 1.048;
	background-color: #000;
}

.footer-id8nxt-blur {
	position: absolute; top: -72px; left: -36px; right: -36px; 
	min-height: 566px;
}

.footer-id8nxt {
	position: absolute; top: 0; left: 0; 
	opacity: 0.9;
	text-transform: uppercase;
	background: linear-gradient(180deg, #030000 27%, rgba(136, 136, 136, 0) 77%) top left / auto auto no-repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.footer-blur {
	position: absolute; top: 241px; left: 23px; 
	filter: blur(2px);
	backdrop-filter: blur(11.95px);
	width: calc(100% - 23px); height: 311px;
	max-width: 1920px;
	background-color: rgba(255, 73, 73, 0.03);
}

.footer-graphic {
	position: absolute; top: -682px; left: 0; right: 0; 
	filter: blur(139.6px);
	mix-blend-mode: linear-dodge;
	height: 970px;
}
/* end footer*/


.films-footer-animation-content1 {
	container: films-footer-animation-content1 / inline-size;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 199px;
}

.films-footer-animation-left-hook {
	margin-left: -50px;
	width: 765px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
	flex-shrink: 0;
	text-align: left;
	padding-top: 12px;
}

.films-footer-animation-col {
	position: relative;
	margin-left: 104px;
	width: 100%;
	max-width: 661px;
	display: flex;
	flex-direction: column;
	color: #fff;
}

.films-footer-animation-title {
	margin-left: -4px; margin-top: -12px;
	font-size: 90px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1.048;
}

.films-footer-animation-text-need-ai-video {
	width: 100%;
	max-width: 665px;
	align-self: end;
	color: #bcbcbc;
	font-size: 24px;
	font-weight: 400;
}

.films-footer-animation-agency-links {
	display: flex;
	align-items: flex-end;
	gap: 68px;
	font-size: 20px;
}

.films-footer-animation-menu {
	width: 128px;
	display: flex;
	flex-direction: column;
	gap: 25px;
	flex-shrink: 0;
	text-align: left;
}

.films-footer-animation-menu-items {
	display: flex;
	flex-direction: column;
	gap: 60px;
	color: #858585;
	font-weight: 400;
}

.films-footer-animation-agency-info {
	width: 660px;
	display: flex;
	flex-direction: column;
	gap: 76px;
	flex-shrink: 0;
	text-align: left;
}

.films-footer-animation-content2 {
	display: flex;
	align-items: flex-start;
	gap: 28px;
}

.films-footer-animation-address {
	display: flex;
	flex-direction: column;
	gap: 26px;
	flex-grow: 1;
	text-align: left;
}

.films-footer-animation-text-office-address {
	color: #dadada;
	font-weight: 600;
}

.films-footer-animation-email {
	width: 159px;
	display: flex;
	flex-direction: column;
	gap: 29px;
	flex-shrink: 0;
	text-align: left;
}

.films-footer-animation-text-humans-id8nxt-com {
	color: #cadb36;
	text-transform: lowercase;
}

.films-footer-animation-contact-number {
	width: 159px;
	display: flex;
	flex-direction: column;
	gap: 29px;
	flex-shrink: 0;
	text-align: left;
}

.films-footer-animation-subscribe {
	width: 100%;
	max-width: 651px;
	display: flex;
	flex-direction: column;
	gap: 19px;
	align-self: start;
}

.input-group-email {
	display: flex;
	align-items: flex-start;
}

.input-group-email-text {
	width: 475px;
	min-height: 54px;
	flex-shrink: 0;
	color: #858585;
	font-style: normal;
	font-weight: 300;
	letter-spacing: 0px;
	text-align: left;
	background-color: unset;
	padding: 14px 17px;
	border: 1px solid #585858;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.input-group-email-btn-styles {
	min-height: 54px;
	display: flex;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 0px;
	text-align: left;
	background-color: #cadb36;
	padding: 15px 41px 15px 40px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.films-footer-animation-social-links1 {
	display: flex;
	align-items: center;
	gap: 55px;
	color: #dadada;
	font-weight: 600;
	padding-right: 7px;
}

.films-footer-animation-text-social-links {
	flex-grow: 1;
	text-align: left;
}

.films-footer-animation-social-links2 {
	width: 197px; height: 38px;
	flex-shrink: 0;
}
/* end films-footer-animation*/


.films-footer-animation-text-a {
	color: #dadada;
	font-weight: 600;
}

.films-footer-animation-text-c {
	color: #dadada;
	font-weight: 600;
	text-transform: uppercase;
}

.header1 {
	gap: 200px;
	text-align: center;
	background-color: #fff;
	padding-top: 32px;
	padding-bottom: 297px;
}



/* header */

.header {
	container: header / inline-size;
	margin-left: 1px;
	width: 100%;
	max-width: 1809px;
	font-size: 18px;
}

.header-content {
	container: header-content / inline-size;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-left-links {
	display: flex;
	align-items: flex-start;
	gap: 37px;
}



/* row */

.row {
	display: flex;
	align-items: center;
}
/* end row*/


.header-text-right {
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: left;
}
/* end header*/


.header2 .header-logo {
	width: 133px; height: 64px;
}

.header2 .solutions {
	gap: 11px;
}

.header2 .about {
	gap: 8px;
}

.header-content2 {
	width: 100%;
	max-width: 978px;
	display: flex;
	flex-direction: column;
	gap: 70px;
}

.header-subtitle-our-work {
	font-size: 64px;
}

.header-subtitle-lorem-ipsum {
	font-size: 40px;
}

.our-work-section {
	gap: 99px;
}

.our-work-works {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 52px;
	font-size: 20px;
}

.our-work-filters {
	display: flex;
	align-items: flex-start;
	gap: 50px;
}



/* industries */

.industries {
	min-height: 44px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-shrink: 0;
	padding: 0 19px;
	border: 1px solid var(--black);
	border-radius: 5px;
}

.industries-text {
	color: var(--black);
	font-size: 16px;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	line-height: 1.49;
	letter-spacing: 0px;
	text-align: left;
}

.industries-keyboard {
	width: 24px;
	flex-shrink: 0;
}
/* end industries*/


.services {
	width: 256px;
}

.industries1 {
	width: 254px;
}

.our-work-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}



/* client-card */

.client-card {
	margin-top: -364px;
	width: 100%;
	max-width: 593px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.client-card-roman-ultra {
	margin-right: 2px;
	flex-shrink: 0;
	border-radius: 3px;
}
/* end client-card*/


.client-card1 {
	margin-top: 0;
}

.client-card2 {
	margin-left: 613px;
}

.client-card3 {
	margin-left: 1226px;
}

.client-card4 {
	margin-left: 613px; margin-top: 22px;
}

.client-card6 {
	margin-left: 1226px;
}

.client-card7 {
	margin-top: 22px;
}

.client-card8 {
	margin-left: 613px;
}

.client-card9 {
	margin-left: 1226px;
}

.our-work-subtitle {
	padding-left: 13px;
	padding-right: 11px;
	border-bottom: 3px solid #000;
}

.films-footer-animation1 .films-footer-animation-subtitle {
	position: absolute; z-index: 1; top: 389px; left: 413px; 
	padding-left: 12px;
	padding-right: 12px;
	border-bottom: 3px solid #fff;
}



/** breakpoints (margin / paddings) **/

@media screen and (max-width: 1280px) {
	.films-footer-animation-left-hook {
		margin-inline: 0;
	}
	.films-footer-animation-col {
		margin-inline: 0;
	}
	.films-footer-animation-title {
		margin-inline: 0;
	}
	.films-footer-animation-social-links1 {
		padding-inline: 0;
	}
	.client-card-roman-ultra {
		margin-inline: 0;
	}
	.client-card2 {
		margin-inline: 0;
	}
	.client-card3 {
		margin-inline: 0;
	}
	.client-card4 {
		margin-inline: 0;
	}
	.client-card6 {
		margin-inline: 0;
	}
	.client-card8 {
		margin-inline: 0;
	}
	.client-card9 {
		margin-inline: 0;
	}
}



/* container queries (flex rows) */

@container films-footer-animation (width < 1869px) {
	.films-footer-animation-content1 {
		flex-direction: column;
		align-items: center;
		gap: 83px;
	}
	.films-footer-animation-content1 > * {
		margin-left: unset !important;
		text-align: center;
	}
	.films-footer-animation-content1 .films-footer-animation-text-need-ai-video {
		align-self: center;
	}
	.films-footer-animation-content1 > .films-footer-animation-left-hook {
		width: 100%;
		max-width: 765px;
		align-items: center;
	}
}

@container films-footer-animation-content1 (width < 855px) {
	.films-footer-animation-agency-links {
		flex-direction: column;
		align-items: flex-start;
		gap: 58px;
	}
	.films-footer-animation-agency-links > .films-footer-animation-agency-info {
		width: 100%;
		max-width: 660px;
	}
}

@container header (width < 795px) {
	.header-content {
		flex-direction: column;
		align-items: center;
		gap: 14px;
	}
	.header-content > * {
		text-align: center;
	}
}

@container header-content (width < 663px) {
	.header-left-links {
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.header-left-links > * {
		margin-left: unset !important;
		text-align: center;
	}
}
