<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="../css/base.css" />
	<link rel="stylesheet" href="css/case-study.css" />

</head>

<body>
<div class="case-study">
	<div class="case-study-hero-section">
		<img src="assets/case-study-roman-ultra.png" class="case-study-roman-ultra input" />
		
		<div class="case-study-col">
			<div class="header header1">
				<div class="header-content">
					<object data="assets/header/header-logo.svg" class="dropdown header-logo" type="image/svg+xml"></object>
					
					<div class="header-left-links">
						<div class="row solutions">
							<p class="text">Solutions</p>
							<object data="assets/row/row-dropdown.svg" class="dropdown row-dropdown" type="image/svg+xml"></object>
						</div>
						
						<p class="text">Work</p>
						
						<div class="row about">
							<p class="text">About</p>
							<object data="assets/row/row-dropdown.svg" class="dropdown row-dropdown" type="image/svg+xml"></object>
						</div>
						
						<p class="text">Resources</p>
						<p class="header-text-right">Book a Call</p>
					</div>
				</div>
			</div>
			
			<div class="case-study-content">
				<h2 class="case-study-subtitle-lorem-ipsum1">
					Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. 
				</h2>
				<h2 class="case-study-subtitle-client-company subtitle">Client Company</h2>
			</div>
		</div>
	</div>
	
	<div class="case-study-top-navbar1">
		<div class="case-study-navbar">
			<p class="case-study-text-a case-study-text1">Overview</p>
			<p class="case-study-text-a">Brief</p>
			<p class="case-study-text-a">Narrative</p>
			<p class="case-study-text-a">Final Output</p>
			<p class="case-study-text-a">Solution</p>
			<p class="case-study-text-a">Results</p>
			<p class="case-study-text-a">Testimonial</p>
		</div>
	</div>
	
	<div class="case-study-overview">
		<div class="case-study-container1">
			<p class="case-study-text-b case-study-text2">
				<span class="sub-text-gray">Duration<br />
				</span>May 2023 - November 2023
			</p>
			
			<div class="case-study-row-bottom">
				<p class="case-study-text-c case-study-text3">Visit Website</p>
				<p class="case-study-text-c case-study-text-share">Share</p>
			</div>
		</div>
		
		<p class="case-study-text-lorem-ipsum1">
			Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Viverra
		</p>
	</div>
	
	<div class="case-study-problem section">
		<div class="content content1">
			<h2 class="content-subtitle">
				Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Viverra
			</h2>
			<p class="content-text text-black">
				Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur.
			</p>
		</div>
		
		<div class="case-study-images1">
			<img src="assets/case-study-img1.png" class="case-study-img1" />
			
			<div class="case-study-small-images1">
				<img src="assets/case-study-img2.png" class="case-study-img-a" />
				<img src="assets/case-study-img3.png" class="case-study-img-a" />
			</div>
		</div>
	</div>
	
	<div class="case-study-top-navbar2 section">
		<button class="btn-styles hover-dark">
			<img src="assets/btn-styles/btn-styles-icon.png" class="btn-styles-icon" />
			<p class="btn-styles-label">Back to top</p>
		</button>
	</div>
	
	<p class="case-study-text-goals text-black">
		Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur.
	</p>
	
	<div class="case-study-approach section">
		<p class="case-study-text-b">
			Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. 
		</p>
		
		<div class="case-study-images2">
			<div class="case-study-small-images2">
				<img src="assets/case-study-img4.png" class="case-study-img-b" />
				<img src="assets/case-study-img5.png" class="case-study-img-b" />
			</div>
			
			<img src="assets/case-study-img6.png" class="case-study-img2" />
		</div>
	</div>
	
	<div class="case-study-solution section">
		<div class="content content2">
			<h2 class="content-subtitle">
				Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Viverra
			</h2>
			<p class="content-text text-black">
				Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur.
			</p>
		</div>
		
		<div class="case-study-result-video">
			<object data="assets/case-study-arrow-back.svg" class="case-study-arrow-back" type="image/svg+xml"></object>
			
			<div class="case-study-video-info">
				<div class="case-study-container2">
					<p class="case-study-text4">0:00/07:20</p>
					
					<div class="case-study-icons">
						<img src="assets/case-study-volume-down.png" class="case-study-img-c case-study-volume-down" />
						<img src="assets/case-study-crop-free.png" class="case-study-img-c case-study-crop-free" />
					</div>
				</div>
				
				<div class="case-study-video-progress">
					<div class="case-study-line"></div>
					<div class="case-study-rect1"></div>
					<div class="case-study-rect2"></div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="case-study-result-section section">
		<h2 class="case-study-subtitle">Result</h2>
		
		<div class="case-study-results">
			<div class="results-animation">
				<h2 class="results-animation-subtitle">0%</h2>
				<h2 class="results-animation-subtitle-reduction-in subtitle">Reduction in production costs</h2>
			</div>
			
			<div class="results-animation">
				<h2 class="results-animation-subtitle">0%</h2>
				<h2 class="results-animation-subtitle-reduction-in subtitle">Reduction in production costs</h2>
			</div>
			
			<div class="results-animation">
				<h2 class="results-animation-subtitle">0%</h2>
				<h2 class="results-animation-subtitle-reduction-in subtitle">Reduction in production costs</h2>
			</div>
		</div>
	</div>
	
	<div class="case-study-testimonial1">
		<div class="case-study-group">
			<div class="case-study-testimonial2">Testimonial</div>
			<div class="case-study-rect3"></div>
		</div>
		
		<div class="case-study-testimonial3">
			<h2 class="case-study-subtitle-lorem-ipsum2">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
			</h2>
			<h2 class="case-study-subtitle-name-plus">Name + Designation / Designation + Brand</h2>
		</div>
	</div>
	
	<div class="case-study-related section">
		<h2 class="case-study-subtitle">See more related projects</h2>
		
		<div class="case-study-projects">
			<div class="related-project-card related-project1">
				<img src="assets/related-project-card/related-project-card-roman-ultra.png" class="related-project-card-roman-ultra input" />
				
				<div class="related-project-card-content">
					<h2 class="related-project-card-subtitle">Lorem Ipsum</h2>
					<p class="related-project-card-text-lorem-ipsum">
						Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. 
					</p>
				</div>
				
				<p class="related-project-card-text-btn">View Case Study</p>
			</div>
			
			<div class="related-project-card related-project2">
				<img src="assets/related-project-card/related-project-card-roman-ultra.png" class="related-project-card-roman-ultra input" />
				
				<div class="related-project-card-content">
					<h2 class="related-project-card-subtitle">Lorem Ipsum</h2>
					<p class="related-project-card-text-lorem-ipsum">
						Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. 
					</p>
				</div>
				
				<p class="related-project-card-text-btn">View Case Study</p>
			</div>
			
			<div class="related-project-card related-project3">
				<img src="assets/related-project-card/related-project-card-roman-ultra.png" class="related-project-card-roman-ultra input" />
				
				<div class="related-project-card-content">
					<h2 class="related-project-card-subtitle">Lorem Ipsum</h2>
					<p class="related-project-card-text-lorem-ipsum">
						Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. 
					</p>
				</div>
				
				<p class="related-project-card-text-btn">View Case Study</p>
			</div>
		</div>
	</div>
	
	<div class="id8nxt-footer-animation id8nxt-footer-animation1">
		<div class="id8nxt-footer-animation-content1">
			<div class="id8nxt-footer-animation-left-hook">
				<div class="id8nxt-footer-animation-col">
					<h1 class="id8nxt-footer-animation-title">
						Let’s make your <span class="sub-text">next big move</span> real!
					</h1>
					<h2 class="id8nxt-footer-animation-subtitle">Get in touch</h2>
				</div>
				
				<p class="id8nxt-footer-animation-text-go-to-market">
					Go-To-Market Strategy, demand generation, AI films, and developer engagement - done right.
				</p>
			</div>
			
			<div class="id8nxt-footer-animation-agency-links">
				<div class="id8nxt-footer-animation-menu">
					<p class="id8nxt-footer-animation-text-a">MENU</p>
					
					<div class="id8nxt-footer-animation-menu-items">
						<p class="id8nxt-footer-animation-text-b">COMPANY</p>
						<p class="id8nxt-footer-animation-text-b">ID8NXT</p>
						<p class="id8nxt-footer-animation-text-b">ID8NXT Films</p>
						<p class="id8nxt-footer-animation-text-b">D8DEVHUB</p>
						<p class="id8nxt-footer-animation-text-b">PROJECTS</p>
					</div>
				</div>
				
				<div class="id8nxt-footer-animation-agency-info">
					<div class="id8nxt-footer-animation-content2">
						<div class="id8nxt-footer-animation-address">
							<p class="id8nxt-footer-animation-text-office-address">OFFICE ADDRESS</p>
							<p class="text-gray">
								ID8NXT LLP, B Wing, Second Floor, Krishanlal Marwah Marg,Saki Vihar<br />
								Road, Saki Naka, Andheri East Mumbai - 400 072, Maharashtra, India
							</p>
						</div>
						
						<div class="id8nxt-footer-animation-email">
							<p class="id8nxt-footer-animation-text-c">Write to Us</p>
							<p class="id8nxt-footer-animation-text-humans-com text-gray">humans@id8nxt.com</p>
						</div>
						
						<div class="id8nxt-footer-animation-contact-number">
							<p class="id8nxt-footer-animation-text-c">Get On A Call</p>
							<p class="text-gray">
								+91 9923275253<br />
								+91 9890056652
							</p>
						</div>
					</div>
					
					<div class="id8nxt-footer-animation-subscribe">
						<p class="id8nxt-footer-animation-text-a">Subscribe to Our Newsletter</p>
						
						<div class="input-group-email">
							<input class="input-group-email-text" value="Enter Email Address" />
							<button class="input-group-email-btn-styles hover-bright">Subscribe</button>
						</div>
					</div>
					
					<div class="id8nxt-footer-animation-social-links1">
						<p class="id8nxt-footer-animation-text-social-links">SOCIAL LINKS</p>
						<object data="assets/id8nxt-footer-animation/id8nxt-footer-animation-social-links.svg" class="id8nxt-footer-animation-social-links2" type="image/svg+xml"></object>
					</div>
				</div>
			</div>
		</div>
		
		<div class="_1st-state">
			<footer class="footer">
				<div class="footer-id8nxt">ID8NXT</div>
				<div class="footer-blur"></div>
			</footer>
			
			<object data="assets/_1st-state/_1st-state-graphic.svg" class="_1st-state-graphic" type="image/svg+xml"></object>
		</div>
	</div>
</div>

</body>
</html>