<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css2?family=Manrope:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../css/pages/contact.css" />

</head>

<body>
<div class="contact">
	<header class="header1">
		<div class="header header2">
			<div class="header-content">
				<object data="../assets/header/header-logo.svg" class="dropdown header-logo" type="image/svg+xml"></object>
				
				<div class="header-left-links">
					<div class="row solutions">
						<p class="text-a">Solutions</p>
						<object data="../assets/row/row-dropdown.svg" class="dropdown row-dropdown" type="image/svg+xml"></object>
					</div>
					
					<p class="text-a">Work</p>
					
					<div class="row about">
						<p class="text-a">About</p>
						<object data="../assets/row/row-dropdown.svg" class="dropdown row-dropdown" type="image/svg+xml"></object>
					</div>
					
					<p class="text-a">Resources</p>
					<p class="header-text-right text1">Book a Call</p>
				</div>
			</div>
		</div>
		
		<div class="header-content2">
			<h2 class="header-subtitle-let-s-build">Let’s Build What’s Nxt!</h2>
			<h2 class="subtitle">
				Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. 
			</h2>
		</div>
	</header>
	
	<div class="contact-testimonial">
		<div class="contact-group">
			<div class="contact-connect">Connect</div>
			<div class="contact-rect"></div>
		</div>
		
		<div class="contact-form">
			<div class="contact-left-container">
				<div class="contact-name">
					<div class="st-name first-name">
						<div class="st-name-rect"></div>
						<p class="text-b">First Name <span class="sub-text">*</span></p>
						<p class="text-b st-name-text-bottom">Enter First Name</p>
					</div>
					
					<div class="st-name last-name">
						<div class="st-name-rect"></div>
						<p class="text-b">Last Name <span class="sub-text">*</span></p>
						<p class="text-b st-name-text-bottom">Enter Last Name</p>
					</div>
				</div>
				
				<div class="contact-email-address">
					<p class="contact-text1 text2">Email Address <span class="sub-text">*</span></p>
					
					<div class="input-group-container1">
						<input class="input-group-container-enter-valid text2" value="Enter valid Email Address" />
						<p class="input-group-container-text1">Please enter official email address only</p>
					</div>
				</div>
				
				<div class="contact-query">
					<p class="text-b">Tell us a bit about your project or query </p>
					<textarea class="contact-input-upto-100-words text3">Upto 100 words</textarea>
					
					<div class="contact-container">
						<div class="contact-attachment">
							<p class="contact-text2">or <a class="link" href="#">Attach a document</a></p>
							<object data="../assets/contact-link-45deg.svg" class="contact-link-45deg" type="image/svg+xml"></object>
						</div>
						
						<p class="contact-text-0-100-words">0/100 words</p>
					</div>
				</div>
			</div>
			
			<div class="contact-right">
				<div class="contact-field">
					<div class="input-group-company-name">
						<p class="text-b">
							Company / Brand Name <span class="sub-text">*</span>
						</p>
						<input class="input" value="Enter Company Name" />
					</div>
					
					<div class="contact-phone-number">
						<p class="contact-text3 text3">Phone Number <span class="sub-text">*</span></p>
						
						<div class="input-group-container2">
							<input class="input input-group-container-plus-91-xxxxx-xxxxx" value="+91 XXXXX XXXXX" />
							<p class="input-group-container-text2">
								By ticking this box, you are confirming that you have read and agree to our 
								<a class="link2" href="#">Terms and Conditions</a> and <a class="link2" href="#">Privacy Policy</a>
							</p>
						</div>
					</div>
				</div>
				
				<button class="contact-btn-styles hover-bright">Submit</button>
			</div>
		</div>
	</div>
	
	<div class="footer-animation footer-animation1">
		<div class="footer-animation-content1">
			<div class="footer-animation-left-hook">
				<div class="footer-animation-col">
					<h1 class="footer-animation-title">
						Let’s make your <span class="sub-text">next big move</span> real!
					</h1>
					<h2 class="footer-animation-subtitle subtitle">Get in touch</h2>
				</div>
				
				<p class="footer-animation-text-go-to-market">
					Go-To-Market Strategy, demand generation, AI films, and developer engagement - done right.
				</p>
			</div>
			
			<div class="footer-animation-agency-links">
				<div class="footer-animation-menu">
					<p class="footer-animation-text-a">MENU</p>
					
					<div class="footer-animation-menu-items">
						<p class="footer-animation-text-b">COMPANY</p>
						<p class="footer-animation-text-b">ID8NXT</p>
						<p class="footer-animation-text-b">ID8NXT Films</p>
						<p class="footer-animation-text-b">D8DEVHUB</p>
						<p class="footer-animation-text-b">PROJECTS</p>
					</div>
				</div>
				
				<div class="footer-animation-agency-info">
					<div class="footer-animation-content2">
						<div class="footer-animation-address">
							<p class="footer-animation-text-office-address">OFFICE ADDRESS</p>
							<p class="text-gray">
								ID8NXT LLP, B Wing, Second Floor, Krishanlal Marwah Marg,Saki Vihar<br />
								Road, Saki Naka, Andheri East Mumbai - 400 072, Maharashtra, India
							</p>
						</div>
						
						<div class="footer-animation-email">
							<p class="footer-animation-text-c">Write to Us</p>
							<p class="footer-animation-text-humans-id8nxt-com text-gray">humans@id8nxt.com</p>
						</div>
						
						<div class="footer-animation-contact-number">
							<p class="footer-animation-text-c">Get On A Call</p>
							<p class="text-gray">
								+91 9923275253<br />
								+91 9890056652
							</p>
						</div>
					</div>
					
					<div class="footer-animation-subscribe">
						<p class="footer-animation-text-a">Subscribe to Our Newsletter</p>
						
						<div class="input-group-email">
							<input class="input-group-email-text text1" value="Enter Email Address" />
							<button class="input-group-email-btn-styles hover-bright">Subscribe</button>
						</div>
					</div>
					
					<div class="footer-animation-social-links1">
						<p class="footer-animation-text-social-links">SOCIAL LINKS</p>
						<object data="../assets/footer-animation/footer-animation-social-links.svg" class="footer-animation-social-links2" type="image/svg+xml"></object>
					</div>
				</div>
			</div>
		</div>
		
		<div class="_1st-state">
			<footer class="footer">
				<div class="footer-id8nxt">ID8NXT</div>
				<div class="footer-blur"></div>
			</footer>
			
			<object data="../assets/_1st-state/_1st-state-graphic.svg" class="_1st-state-graphic" type="image/svg+xml"></object>
		</div>
	</div>
</div>

</body>
</html>