<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="./css/global.css" />
	<link rel="stylesheet" href="./css/reset.css" />
	<link rel="stylesheet" href="./css/home.css" />

</head>

<body>
<div class="home">
	<div class="home-hero-section">
		<header class="header">
			<div class="header-row">
				<object data="assets/header-logo.svg" class="dropdown header-logo" type="image/svg+xml"></object>
				
				<div class="header-row-right">
					<div class="row-a solutions">
						<p class="text-a">Solutions</p>
						<object data="assets/row/row-dropdown.svg" class="dropdown row-dropdown" type="image/svg+xml"></object>
					</div>
					
					<p class="text-a">Work</p>
					
					<div class="row-a about">
						<p class="text-a">About</p>
						<object data="assets/row/row-dropdown.svg" class="dropdown row-dropdown" type="image/svg+xml"></object>
					</div>
					
					<p class="text-a">Resources</p>
					<p class="header-text-right text1">Book a Call</p>
				</div>
			</div>
		</header>
		
		<h1 class="home-title-id8nxt">ID8NXT</h1>
	</div>
	
	<div class="home-our-brands">
		<div class="home-title">
			<h2 class="home-subtitle-our-brands">Our Brands</h2>
			<object data="assets/home-scroll.svg" class="home-scroll-indicator-a home-scroll1" type="image/svg+xml"></object>
		</div>
		
		<div class="home-brand-scroll">
			<div class="home-id8nxt">
				<div class="home-img">
					<object data="assets/home-graphic1.svg" class="home-graphic1" type="image/svg+xml"></object>
				</div>
				
				<div class="home-content1">
					<p class="home-text-from-go-to-market text1">
						From Go-To-Market Strategy to always-on demand generation and lead generation, we build brand systems that perform.
					</p>
					<p class="text-small-secondary-button home-text-small1">Explore Brand Solutions & Enterprise</p>
				</div>
			</div>
			
			<div class="home-id8films">
				<img src="assets/home-brewingid8nxt.png" class="home-brewingid8nxt input" />
				
				<div class="home-group input">
					<object data="assets/home-graphic2.svg" class="home-graphic2" type="image/svg+xml"></object>
				</div>
			</div>
		</div>
	</div>
	
	<div class="home-our-services1 section">
		<div class="home-content2">
			<h2 class="subtitle home-subtitle1">Our Services</h2>
			<p class="text-b home-text-build-with-a">
				Build with a single service, or layer them into a connected growth system.<br />
				Everything is designed to reduce cycle time from idea → asset → distribution → learning.
			</p>
		</div>
		
		<div class="home-our-services2">
			<div class="home-brand-solution">
				<p class="home-text text2">01</p>
				
				<div class="home-tile-section">
					<img src="assets/home-sca.png" class="home-sca" />
					
					<div class="home-tile-title">
						<h2 class="home-subtitle-brand-solutions">Brand Solutions</h2>
						<p class="home-text-digital-brand">
							Digital brand strategy + Go-To-Market strategy, messaging and campaigns, built for demand generation and lead generation.
						</p>
					</div>
				</div>
			</div>
			
			<div class="row-b ai-gnerated-films">
				<p class="row-text2 text2">01</p>
				<h2 class="row-subtitle">AI-Generated Films</h2>
			</div>
			
			<div class="row-b developer-communities1">
				<p class="row-text2 text2">01</p>
				<h2 class="row-subtitle">Developer Communities</h2>
			</div>
			
			<div class="row-b developer-communities2">
				<p class="row-text2 text2">01</p>
				<h2 class="row-subtitle">Enterprise Solutions</h2>
			</div>
		</div>
		
		<p class="text-small-secondary-button home-text-small2">Explore All Services</p>
	</div>
	
	<div class="logo-scroll-animation logo-scroll-animation1">
		<object data="assets/logo-scroll-animation/logo-scroll-animation-vector.svg" class="logo-scroll-animation-vector" type="image/svg+xml"></object>
		
		<div class="logo-scroll-animation-content">
			<h2 class="subtitle">What we are</h2>
			<h2 class="logo-scroll-animation-subtitle-we-help-brands">
				We help brands win in markets with digital brand strategy, bold creative, and execution that scales, powered by a full-funnel engine from Go-To-Market Strategy to demand generation, lead generation, and retention-first customer onboarding.
			</h2>
			<p class="text-small-secondary-button logo-scroll-animation-text">Know about us more</p>
		</div>
	</div>
	
	<div class="home-featured">
		<div class="home-work-section">
			<div class="home-line1">
				<div class="home-illustration">
					<object data="assets/home-graphic3.svg" class="home-graphic-top" type="image/svg+xml"></object>
					<h2 class="home-subtitle-featured-work">Featured Work</h2>
					<div class="home-line-bottom"></div>
				</div>
				
				<div class="home-img-card">
					<img src="assets/home-roman-ultra.png" class="img home-roman-ultra" />
					<p>Flipkart</p>
				</div>
			</div>
			
			<div class="line line1">
				<div class="line-img-card">
					<img src="assets/line-image-card/line-u.png" class="line-u3226819771 input" />
					<p class="line-text">AWS AI conclave - Mahishasura film</p>
				</div>
				
				<div class="image-card img-card">
					<img src="assets/image-card/image-card-u1.png" class="image-card-u2881865955 input" />
					<p class="text-c image-card-text">Salesforce - AI agents</p>
				</div>
			</div>
			
			<div class="home-line2">
				<div class="image-card img-card2">
					<img src="assets/image-card/image-card-namo.png" class="image-card-u2881865955 input" />
					<p class="text-c image-card-text">Microsoft - Zero Day</p>
				</div>
				
				<div class="image-card img-card3">
					<img src="assets/image-card/image-card-u2.png" class="image-card-u2881865955 input" />
					<p class="text-c image-card-text">Eurekii</p>
				</div>
			</div>
			
			<div class="line line2">
				<div class="line-img-card">
					<img src="assets/line-image-card/line-vip39-full.png" class="line-u3226819771 input" />
					<p class="line-text">Client Company</p>
				</div>
				
				<div class="image-card img-card">
					<img src="assets/image-card/image-card-moyomoyo.png" class="image-card-u2881865955 input" />
					<p class="text-c image-card-text">Sow & Reap - Chara'</p>
				</div>
			</div>
		</div>
		
		<h2 class="subtitle-large-secondary-button home-subtitle2">Explore All Services</h2>
	</div>
	
	<div class="home-clients1">
		<div class="home-clients2">
			<h2>Trusted by teams who ship at scale.</h2>
			
			<div class="clients">
				<div class="clients-group-left input">
					<img src="assets/clients/clients-logosartboard1.png" class="clients-logosartboard1" />
				</div>
				
				<div class="clients-group1 input">
					<img src="assets/clients/clients-logosartboard2.png" class="clients-logosartboard2" />
				</div>
				
				<div class="clients-group2 input">
					<img src="assets/clients/clients-logosartboard3.png" class="clients-logosartboard3" />
				</div>
				
				<div class="clients-group3 input">
					<img src="assets/clients/clients-logosartboard4.png" class="clients-logosartboard4" />
				</div>
				
				<div class="clients-group-right input">
					<img src="assets/clients/clients-logosartboard5.png" class="clients-logosartboard5" />
				</div>
			</div>
		</div>
		
		<p class="text-small-secondary-button home-text-small3">Button</p>
	</div>
	
	<div class="home-testimonials1">
		<div class="home-section-title">
			<h2 class="home-subtitle-what-clients">
				What clients<br />
				say about us
			</h2>
			<object data="assets/home-scroll.svg" class="home-scroll-indicator-b home-scroll2" type="image/svg+xml"></object>
		</div>
		
		<div class="home-testimonials2">
			<div class="testimonial-card">
				<p class="testimonial-card-text-lorem-ipsum1">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
				</p>
				
				<div class="testimonial-card-client">
					<img src="assets/testimonial-card-client/testimonial-card-img.png" class="testimonial-card-img" />
					
					<div class="testimonial-card-client-info">
						<p class="testimonial-card-text-lorem-ipsum2">Lorem ipsum dolor </p>
						<p class="testimonial-card-text-sed-ut">Sed ut perspiciatis unde omnis</p>
					</div>
				</div>
			</div>
			
			<div class="testimonial-card">
				<p class="testimonial-card-text-lorem-ipsum1">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
				</p>
				
				<div class="testimonial-card-client">
					<img src="assets/testimonial-card-client/testimonial-card-img.png" class="testimonial-card-img" />
					
					<div class="testimonial-card-client-info">
						<p class="testimonial-card-text-lorem-ipsum2">Lorem ipsum dolor </p>
						<p class="testimonial-card-text-sed-ut">Sed ut perspiciatis unde omnis</p>
					</div>
				</div>
			</div>
			
			<div class="testimonial-card">
				<p class="testimonial-card-text-lorem-ipsum1">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
				</p>
				
				<div class="testimonial-card-client">
					<img src="assets/testimonial-card-client/testimonial-card-img.png" class="testimonial-card-img" />
					
					<div class="testimonial-card-client-info">
						<p class="testimonial-card-text-lorem-ipsum2">Lorem ipsum dolor </p>
						<p class="testimonial-card-text-sed-ut">Sed ut perspiciatis unde omnis</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="home-resources1 section">
		<h2 class="home-subtitle-take-a-look">Take a look at our resources</h2>
		
		<div class="home-resources2">
			<div class="resource resource1">
				<img src="assets/resource/resource-vip39-full.png" class="img resource-vip39-full" />
				
				<div class="resource-content">
					<div class="resource-reseource">
						<h2 class="resource-subtitle">Lorem ipsum dolor sit amet consectetur.</h2>
						<p class="text-b">
							Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. 
						</p>
					</div>
					
					<div class="resource-data">
						<p class="text-d">September 2025 | By Lorem Ipsum | Topic</p>
						
						<div class="resource-activity">
							<div class="row-c views">
								<img src="assets/row/row-visibility.png" class="row-visibility" />
								<p class="text-d">2K</p>
							</div>
							
							<div class="row-c comments">
								<img src="assets/row/row-mode-comment.png" class="row-visibility" />
								<p class="text-d">279</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="resource resource2">
				<img src="assets/resource/resource-vip39-full.png" class="img resource-vip39-full" />
				
				<div class="resource-content">
					<div class="resource-reseource">
						<h2 class="resource-subtitle">Lorem ipsum dolor sit amet consectetur.</h2>
						<p class="text-b">
							Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. 
						</p>
					</div>
					
					<div class="resource-data">
						<p class="text-d">September 2025 | By Lorem Ipsum | Topic</p>
						
						<div class="resource-activity">
							<div class="row-c views">
								<img src="assets/row/row-visibility.png" class="row-visibility" />
								<p class="text-d">2K</p>
							</div>
							
							<div class="row-c comments">
								<img src="assets/row/row-mode-comment.png" class="row-visibility" />
								<p class="text-d">279</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="resource resource3">
				<img src="assets/resource/resource-vip39-full.png" class="img resource-vip39-full" />
				
				<div class="resource-content">
					<div class="resource-reseource">
						<h2 class="resource-subtitle">Lorem ipsum dolor sit amet consectetur.</h2>
						<p class="text-b">
							Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. 
						</p>
					</div>
					
					<div class="resource-data">
						<p class="text-d">September 2025 | By Lorem Ipsum | Topic</p>
						
						<div class="resource-activity">
							<div class="row-c views">
								<img src="assets/row/row-visibility.png" class="row-visibility" />
								<p class="text-d">2K</p>
							</div>
							
							<div class="row-c comments">
								<img src="assets/row/row-mode-comment.png" class="row-visibility" />
								<p class="text-d">279</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="resource resource4">
				<img src="assets/resource/resource-vip39-full.png" class="img resource-vip39-full" />
				
				<div class="resource-content">
					<div class="resource-reseource">
						<h2 class="resource-subtitle">Lorem ipsum dolor sit amet consectetur.</h2>
						<p class="text-b">
							Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. 
						</p>
					</div>
					
					<div class="resource-data">
						<p class="text-d">September 2025 | By Lorem Ipsum | Topic</p>
						
						<div class="resource-activity">
							<div class="row-c views">
								<img src="assets/row/row-visibility.png" class="row-visibility" />
								<p class="text-d">2K</p>
							</div>
							
							<div class="row-c comments">
								<img src="assets/row/row-mode-comment.png" class="row-visibility" />
								<p class="text-d">279</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<h2 class="subtitle-large-secondary-button home-subtitle4">View All Resources</h2>
	</div>
	
	<div class="footer-animation footer-animation1">
		<div class="footer-animation-content1">
			<div class="footer-animation-left-hook">
				<div class="footer-animation-col">
					<h2 class="footer-animation-subtitle1">
						Let’s make your <span class="sub-text">next big move</span> real!
					</h2>
					<h2 class="subtitle-large-secondary-button footer-animation-subtitle2">Get in touch</h2>
				</div>
				
				<p class="footer-animation-text-go-to-market">
					Go-To-Market Strategy, demand generation, AI films, and developer engagement - done right.
				</p>
			</div>
			
			<div class="footer-animation-agency-links">
				<div class="footer-animation-menu">
					<p class="footer-animation-text-a">MENU</p>
					
					<div class="footer-animation-menu-items">
						<p class="text-c">COMPANY</p>
						<p class="text-c">ID8NXT</p>
						<p class="text-c">ID8NXT Films</p>
						<p class="text-c">D8DEVHUB</p>
						<p class="text-c">PROJECTS</p>
					</div>
				</div>
				
				<div class="footer-animation-agency-info">
					<div class="footer-animation-content2">
						<div class="footer-animation-address">
							<p class="footer-animation-text-office-address">OFFICE ADDRESS</p>
							<p class="text-gray">
								ID8NXT LLP, B Wing, Second Floor, Krishanlal Marwah Marg,Saki Vihar<br />
								Road, Saki Naka, Andheri East Mumbai - 400 072, Maharashtra, India
							</p>
						</div>
						
						<div class="footer-animation-email">
							<p class="footer-animation-text-b">Write to Us</p>
							<p class="footer-animation-text-humans-id8nxt-com text-gray">humans@id8nxt.com</p>
						</div>
						
						<div class="footer-animation-contact-number">
							<p class="footer-animation-text-b">Get On A Call</p>
							<p class="text-gray">
								+91 9923275253<br />
								+91 9890056652
							</p>
						</div>
					</div>
					
					<div class="footer-animation-subscribe">
						<p class="footer-animation-text-a">Subscribe to Our Newsletter</p>
						
						<div class="input-group-email">
							<input class="input-group-email-text" value="Enter Email Address" />
							<button class="input-group-email-btn-small hover-bright">Subscribe</button>
						</div>
					</div>
					
					<div class="footer-animation-social-links1">
						<p class="footer-animation-text-social-links">SOCIAL LINKS</p>
						<object data="assets/footer-animation/footer-animation-social-links.svg" class="footer-animation-social-links2" type="image/svg+xml"></object>
					</div>
				</div>
			</div>
		</div>
		
		<div class="_1st-state">
			<footer class="footer">
				<div class="footer-id8nxt">ID8NXT</div>
				<div class="footer-blur"></div>
			</footer>
			
			<object data="assets/_1st-state/_1st-state-graphic.svg" class="_1st-state-graphic" type="image/svg+xml"></object>
		</div>
	</div>
</div>

</body>
</html>