<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="../css/base.css" />
	<link rel="stylesheet" href="../css/pages/resource-inner-page.css" />

</head>

<body>
<div class="resource-inner-page">
	<div class="resource-inner-page-hero-section">
		<img src="../assets/resource-inner-page-roman-ultra.png" class="resource-inner-page-roman-ultra input" />
		
		<div class="resource-inner-page-col">
			<div class="header header1">
				<div class="header-content">
					<object data="../assets/header/header-logo.svg" class="dropdown header-logo" type="image/svg+xml"></object>
					
					<div class="header-left-links">
						<div class="row-a solutions">
							<p class="text-a">Solutions</p>
							<object data="../assets/row/row-dropdown.svg" class="dropdown row-dropdown" type="image/svg+xml"></object>
						</div>
						
						<p class="text-a">Work</p>
						
						<div class="row-a about">
							<p class="text-a">About</p>
							<object data="../assets/row/row-dropdown.svg" class="dropdown row-dropdown" type="image/svg+xml"></object>
						</div>
						
						<p class="text-a">Resources</p>
						<p class="header-text-right text1">Book a Call</p>
					</div>
				</div>
			</div>
			
			<div class="resource-inner-page-content1">
				<h2 class="resource-inner-page-subtitle-a resource-inner-page-subtitle1">
					Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. 
				</h2>
				<h2 class="subtitle resource-inner-page-subtitle2">Client Company</h2>
			</div>
		</div>
	</div>
	
	<div class="resource-inner-page-content2 section">
		<div class="resource-inner-page-container1">
			<p class="resource-inner-page-text-lorem-ipsum resource-inner-page-text-top">
				Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. 
			</p>
			<img src="../assets/resource-inner-page-vip39-full1.png" class="resource-inner-page-vip39-full1 input" />
			<p class="resource-inner-page-text-lorem-ipsum resource-inner-page-text-bottom1">
				Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur.
			</p>
		</div>
		
		<div class="resource-inner-page-container2">
			<div class="column col-top">
				<h2 class="subtitle column-subtitle">Lorem ipsum dolor sit amet consectetur.</h2>
				<p class="column-text text2">
					Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur.
				</p>
			</div>
			
			<img src="../assets/resource-inner-page-vip39-full2.png" class="resource-inner-page-vip39-full2 input" />
		</div>
		
		<div class="resource-inner-page-container3">
			<h2 class="resource-inner-page-subtitle-lorem-ipsum">Lorem ipsum dolor sit amet consectetur.</h2>
			<p class="resource-inner-page-text-lorem-ipsum">
				Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur.
			</p>
			<p class="resource-inner-page-text-lorem-ipsum">
				Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur.
			</p>
		</div>
		
		<div class="column container">
			<h2 class="subtitle column-subtitle">Lorem ipsum dolor sit amet consectetur.</h2>
			<p class="column-text text2">
				Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur.
			</p>
		</div>
	</div>
	
	<div class="resource-inner-page-container4">
		<div class="resource-inner-page-response">
			<div class="resource-inner-page-container5">
				<h2 class="resource-inner-page-subtitle-a resource-inner-page-subtitle-responses">Responses (27)</h2>
				
				<div class="resource-inner-page-input-field">
					<p class="resource-inner-page-text-what-are-your">What are your thoughts?</p>
					<img src="../assets/resource-inner-page-send.png" class="resource-inner-page-send" />
				</div>
			</div>
			
			<div class="response-card responses">
				<div class="response-card-circle"></div>
				
				<div class="response-card-content">
					<div class="column card-header">
						<h2 class="subtitle column-subtitle">Lorem ipsum</h2>
						<p class="column-text text2">3 mo ago</p>
					</div>
					
					<p class="response-card-text-lorem-ipsum text2">
						Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. 
					</p>
					<p class="response-card-text-btn">Reply</p>
				</div>
			</div>
			
			<div class="response-card response-card1">
				<div class="response-card-circle"></div>
				
				<div class="response-card-content">
					<div class="column card-header">
						<h2 class="subtitle column-subtitle">Lorem ipsum</h2>
						<p class="column-text text2">3 mo ago</p>
					</div>
					
					<p class="response-card-text-lorem-ipsum text2">
						Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. 
					</p>
					<p class="response-card-text-btn">Reply</p>
				</div>
			</div>
			
			<div class="response-card response-card2">
				<div class="response-card-circle"></div>
				
				<div class="response-card-content">
					<div class="column card-header">
						<h2 class="subtitle column-subtitle">Lorem ipsum</h2>
						<p class="column-text text2">3 mo ago</p>
					</div>
					
					<p class="response-card-text-lorem-ipsum text2">
						Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. Lorem ipsum dolor sit amet consectetur. 
					</p>
					<p class="response-card-text-btn">Reply</p>
				</div>
			</div>
		</div>
		
		<div class="resource-inner-page-line"></div>
		
		<div class="resource-inner-page-related">
			<h2 class="resource-inner-page-subtitle-a resource-inner-page-subtitle-related">Related</h2>
			
			<div class="resource-inner-page-cards1">
				<div class="resource-a resource1">
					<img src="../assets/resource/resource-vip39-full.png" class="resource-vip39-full1 input" />
					<h2>Lorem ipsum dolor sit amet consectetur.</h2>
				</div>
				
				<div class="resource-a resource2">
					<img src="../assets/resource/resource-vip39-full.png" class="resource-vip39-full1 input" />
					<h2>Lorem ipsum dolor sit amet consectetur.</h2>
				</div>
				
				<div class="resource-a resource3">
					<img src="../assets/resource/resource-vip39-full.png" class="resource-vip39-full1 input" />
					<h2>Lorem ipsum dolor sit amet consectetur.</h2>
				</div>
			</div>
		</div>
	</div>
	
	<div class="resource-inner-page-resources section">
		<div class="resource-inner-page-buttons">
			<div class="resource-inner-page-previous">
				<img src="../assets/resource-inner-page-arrow-back.png" class="resource-inner-page-arrow-back-ios-new resource-inner-page-arrow-back1" />
				<h2 class="resource-inner-page-subtitle-b">Previous</h2>
			</div>
			
			<div class="resource-inner-page-next-btn">
				<h2 class="resource-inner-page-subtitle-b">Next</h2>
				<img src="../assets/resource-inner-page-arrow-back.png" class="resource-inner-page-arrow-back-ios-new resource-inner-page-arrow-back2" />
			</div>
		</div>
		
		<div class="resource-inner-page-cards2">
			<div class="resource-b resource4">
				<img src="../assets/resource/resource-vip39-full2.png" class="resource-vip39-full2 input" />
				
				<div class="resource-content">
					<div class="resource-reseource">
						<h2 class="subtitle">Lorem ipsum dolor sit amet consectetur.</h2>
						<p class="resource-text-lorem-ipsum">
							Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. 
						</p>
					</div>
					
					<div class="resource-data">
						<p class="text-b">September 2025 | By Lorem Ipsum | Topic</p>
						
						<div class="resource-activity">
							<div class="row-b views">
								<img src="../assets/row/row-visibility.png" class="row-visibility" />
								<p class="text-b">2K</p>
							</div>
							
							<div class="row-b comments">
								<img src="../assets/row/row-mode-comment.png" class="row-visibility" />
								<p class="text-b">279</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="resource-b resource5">
				<img src="../assets/resource/resource-vip39-full2.png" class="resource-vip39-full2 input" />
				
				<div class="resource-content">
					<div class="resource-reseource">
						<h2 class="subtitle">Lorem ipsum dolor sit amet consectetur.</h2>
						<p class="resource-text-lorem-ipsum">
							Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. 
						</p>
					</div>
					
					<div class="resource-data">
						<p class="text-b">September 2025 | By Lorem Ipsum | Topic</p>
						
						<div class="resource-activity">
							<div class="row-b views">
								<img src="../assets/row/row-visibility.png" class="row-visibility" />
								<p class="text-b">2K</p>
							</div>
							
							<div class="row-b comments">
								<img src="../assets/row/row-mode-comment.png" class="row-visibility" />
								<p class="text-b">279</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="id8nxt-footer-animation id8nxt-footer-animation1">
		<div class="id8nxt-footer-animation-content1">
			<div class="id8nxt-footer-animation-left-hook">
				<div class="id8nxt-footer-animation-col">
					<h1 class="id8nxt-footer-animation-title">
						Let’s make your <span class="sub-text">next big move</span> real!
					</h1>
					<h2 class="id8nxt-footer-animation-subtitle">Get in touch</h2>
				</div>
				
				<p class="id8nxt-footer-animation-text-go-to-market text2">
					Go-To-Market Strategy, demand generation, AI films, and developer engagement - done right.
				</p>
			</div>
			
			<div class="id8nxt-footer-animation-agency-links">
				<div class="id8nxt-footer-animation-menu">
					<p class="id8nxt-footer-animation-text-a">MENU</p>
					
					<div class="id8nxt-footer-animation-menu-items">
						<p class="id8nxt-footer-animation-text-b">COMPANY</p>
						<p class="id8nxt-footer-animation-text-b">ID8NXT</p>
						<p class="id8nxt-footer-animation-text-b">ID8NXT Films</p>
						<p class="id8nxt-footer-animation-text-b">D8DEVHUB</p>
						<p class="id8nxt-footer-animation-text-b">PROJECTS</p>
					</div>
				</div>
				
				<div class="id8nxt-footer-animation-agency-info">
					<div class="id8nxt-footer-animation-content2">
						<div class="id8nxt-footer-animation-address">
							<p class="id8nxt-footer-animation-text-office-address">OFFICE ADDRESS</p>
							<p class="text-gray">
								ID8NXT LLP, B Wing, Second Floor, Krishanlal Marwah Marg,Saki Vihar<br />
								Road, Saki Naka, Andheri East Mumbai - 400 072, Maharashtra, India
							</p>
						</div>
						
						<div class="id8nxt-footer-animation-email">
							<p class="id8nxt-footer-animation-text-c">Write to Us</p>
							<p class="id8nxt-footer-animation-text-humans-com text-gray">humans@id8nxt.com</p>
						</div>
						
						<div class="id8nxt-footer-animation-contact-number">
							<p class="id8nxt-footer-animation-text-c">Get On A Call</p>
							<p class="text-gray">
								+91 9923275253<br />
								+91 9890056652
							</p>
						</div>
					</div>
					
					<div class="id8nxt-footer-animation-subscribe">
						<p class="id8nxt-footer-animation-text-a">Subscribe to Our Newsletter</p>
						
						<div class="input-group-email">
							<input class="input-group-email-text text1" value="Enter Email Address" />
							<button class="input-group-email-btn-styles hover-bright">Subscribe</button>
						</div>
					</div>
					
					<div class="id8nxt-footer-animation-social-links1">
						<p class="id8nxt-footer-animation-text-social-links">SOCIAL LINKS</p>
						<object data="../assets/id8nxt-footer-animation/id8nxt-footer-animation-social-links.svg" class="id8nxt-footer-animation-social-links2" type="image/svg+xml"></object>
					</div>
				</div>
			</div>
		</div>
		
		<div class="_1st-state">
			<footer class="footer">
				<div class="footer-id8nxt">ID8NXT</div>
				<div class="footer-blur"></div>
			</footer>
			
			<object data="../assets/_1st-state/_1st-state-graphic.svg" class="_1st-state-graphic" type="image/svg+xml"></object>
		</div>
	</div>
</div>

</body>
</html>