<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css2?family=Manrope:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../css/base.css" />
	<link rel="stylesheet" href="../css/pages/resources.css" />

</head>

<body>
<div class="resources">
	<header class="header1">
		<div class="header header2">
			<div class="header-content">
				<object data="../assets/header/header-logo.svg" class="dropdown header-logo" type="image/svg+xml"></object>
				
				<div class="header-left-links">
					<div class="row-a solutions">
						<p class="text-a">Solutions</p>
						<object data="../assets/row/row-dropdown.svg" class="dropdown row-dropdown" type="image/svg+xml"></object>
					</div>
					
					<p class="text-a">Work</p>
					
					<div class="row-a about">
						<p class="text-a">About</p>
						<object data="../assets/row/row-dropdown.svg" class="dropdown row-dropdown" type="image/svg+xml"></object>
					</div>
					
					<p class="text-a">Resources</p>
					<p class="header-text-right text1">Book a Call</p>
				</div>
			</div>
		</div>
		
		<div class="header-content2">
			<h2 class="header-subtitle-our-resources">Our Resources</h2>
			<h2 class="subtitle-lorem-ipsum header-subtitle-lorem-ipsum">
				Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. 
			</h2>
		</div>
	</header>
	
	<div class="resources-section">
		<div class="industries">
			<p class="industries-text text2">Topics: All</p>
			<img src="../assets/industries/industries-keyboard.png" class="industries-keyboard" />
		</div>
		
		<div class="resources-resources">
			<div class="resource resource1">
				<img src="../assets/resource/resource-vip39-full.png" class="resource-vip39-full" />
				
				<div class="resource-content">
					<div class="resource-reseource">
						<h2 class="subtitle-lorem-ipsum">Lorem ipsum dolor sit amet consectetur.</h2>
						<p class="resource-text-lorem-ipsum">
							Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. 
						</p>
					</div>
					
					<div class="resource-data">
						<p class="text-b">September 2025 | By Lorem Ipsum | Topic</p>
						
						<div class="resource-activity">
							<div class="row-b views">
								<img src="../assets/row/row-visibility.png" class="row-visibility" />
								<p class="text-b">2K</p>
							</div>
							
							<div class="row-b comments">
								<img src="../assets/row/row-mode-comment.png" class="row-visibility" />
								<p class="text-b">279</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="resource resource2">
				<img src="../assets/resource/resource-vip39-full.png" class="resource-vip39-full" />
				
				<div class="resource-content">
					<div class="resource-reseource">
						<h2 class="subtitle-lorem-ipsum">Lorem ipsum dolor sit amet consectetur.</h2>
						<p class="resource-text-lorem-ipsum">
							Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. 
						</p>
					</div>
					
					<div class="resource-data">
						<p class="text-b">September 2025 | By Lorem Ipsum | Topic</p>
						
						<div class="resource-activity">
							<div class="row-b views">
								<img src="../assets/row/row-visibility.png" class="row-visibility" />
								<p class="text-b">2K</p>
							</div>
							
							<div class="row-b comments">
								<img src="../assets/row/row-mode-comment.png" class="row-visibility" />
								<p class="text-b">279</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="resource resource3">
				<img src="../assets/resource/resource-vip39-full.png" class="resource-vip39-full" />
				
				<div class="resource-content">
					<div class="resource-reseource">
						<h2 class="subtitle-lorem-ipsum">Lorem ipsum dolor sit amet consectetur.</h2>
						<p class="resource-text-lorem-ipsum">
							Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. 
						</p>
					</div>
					
					<div class="resource-data">
						<p class="text-b">September 2025 | By Lorem Ipsum | Topic</p>
						
						<div class="resource-activity">
							<div class="row-b views">
								<img src="../assets/row/row-visibility.png" class="row-visibility" />
								<p class="text-b">2K</p>
							</div>
							
							<div class="row-b comments">
								<img src="../assets/row/row-mode-comment.png" class="row-visibility" />
								<p class="text-b">279</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="resource resource4">
				<img src="../assets/resource/resource-vip39-full.png" class="resource-vip39-full" />
				
				<div class="resource-content">
					<div class="resource-reseource">
						<h2 class="subtitle-lorem-ipsum">Lorem ipsum dolor sit amet consectetur.</h2>
						<p class="resource-text-lorem-ipsum">
							Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. 
						</p>
					</div>
					
					<div class="resource-data">
						<p class="text-b">September 2025 | By Lorem Ipsum | Topic</p>
						
						<div class="resource-activity">
							<div class="row-b views">
								<img src="../assets/row/row-visibility.png" class="row-visibility" />
								<p class="text-b">2K</p>
							</div>
							
							<div class="row-b comments">
								<img src="../assets/row/row-mode-comment.png" class="row-visibility" />
								<p class="text-b">279</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="resource resource5">
				<img src="../assets/resource/resource-vip39-full.png" class="resource-vip39-full" />
				
				<div class="resource-content">
					<div class="resource-reseource">
						<h2 class="subtitle-lorem-ipsum">Lorem ipsum dolor sit amet consectetur.</h2>
						<p class="resource-text-lorem-ipsum">
							Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. 
						</p>
					</div>
					
					<div class="resource-data">
						<p class="text-b">September 2025 | By Lorem Ipsum | Topic</p>
						
						<div class="resource-activity">
							<div class="row-b views">
								<img src="../assets/row/row-visibility.png" class="row-visibility" />
								<p class="text-b">2K</p>
							</div>
							
							<div class="row-b comments">
								<img src="../assets/row/row-mode-comment.png" class="row-visibility" />
								<p class="text-b">279</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="resource resource6">
				<img src="../assets/resource/resource-vip39-full.png" class="resource-vip39-full" />
				
				<div class="resource-content">
					<div class="resource-reseource">
						<h2 class="subtitle-lorem-ipsum">Lorem ipsum dolor sit amet consectetur.</h2>
						<p class="resource-text-lorem-ipsum">
							Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. 
						</p>
					</div>
					
					<div class="resource-data">
						<p class="text-b">September 2025 | By Lorem Ipsum | Topic</p>
						
						<div class="resource-activity">
							<div class="row-b views">
								<img src="../assets/row/row-visibility.png" class="row-visibility" />
								<p class="text-b">2K</p>
							</div>
							
							<div class="row-b comments">
								<img src="../assets/row/row-mode-comment.png" class="row-visibility" />
								<p class="text-b">279</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="resource resource7">
				<img src="../assets/resource/resource-vip39-full.png" class="resource-vip39-full" />
				
				<div class="resource-content">
					<div class="resource-reseource">
						<h2 class="subtitle-lorem-ipsum">Lorem ipsum dolor sit amet consectetur.</h2>
						<p class="resource-text-lorem-ipsum">
							Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. 
						</p>
					</div>
					
					<div class="resource-data">
						<p class="text-b">September 2025 | By Lorem Ipsum | Topic</p>
						
						<div class="resource-activity">
							<div class="row-b views">
								<img src="../assets/row/row-visibility.png" class="row-visibility" />
								<p class="text-b">2K</p>
							</div>
							
							<div class="row-b comments">
								<img src="../assets/row/row-mode-comment.png" class="row-visibility" />
								<p class="text-b">279</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="resource resource8">
				<img src="../assets/resource/resource-vip39-full.png" class="resource-vip39-full" />
				
				<div class="resource-content">
					<div class="resource-reseource">
						<h2 class="subtitle-lorem-ipsum">Lorem ipsum dolor sit amet consectetur.</h2>
						<p class="resource-text-lorem-ipsum">
							Lorem ipsum dolor sit amet consectetur. Dictum viverra tortor senectus proin. Sagittis ut cursus interdum tempor sagittis egestas. Egestas suscipit nulla scelerisque nulla purus phasellus convallis consectetur. 
						</p>
					</div>
					
					<div class="resource-data">
						<p class="text-b">September 2025 | By Lorem Ipsum | Topic</p>
						
						<div class="resource-activity">
							<div class="row-b views">
								<img src="../assets/row/row-visibility.png" class="row-visibility" />
								<p class="text-b">2K</p>
							</div>
							
							<div class="row-b comments">
								<img src="../assets/row/row-mode-comment.png" class="row-visibility" />
								<p class="text-b">279</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="footer-animation footer-animation1">
		<div class="footer-animation-content1">
			<div class="footer-animation-left-hook">
				<div class="footer-animation-col">
					<h1 class="footer-animation-title">
						Let’s make your <span class="sub-text">next big move</span> real!
					</h1>
					<h2 class="subtitle-button-css footer-animation-subtitle">Get in touch</h2>
				</div>

				<p class="footer-animation-text-go-to-market">
					Go-To-Market Strategy, demand generation, AI films, and developer engagement - done right.
				</p>
			</div>

			<div class="footer-animation-agency-links">
				<div class="footer-animation-menu">
					<p class="footer-animation-text-a">MENU</p>

					<div class="footer-animation-menu-items">
						<p class="footer-animation-text-b">COMPANY</p>
						<p class="footer-animation-text-b">ID8NXT</p>
						<p class="footer-animation-text-b">ID8NXT Films</p>
						<p class="footer-animation-text-b">D8DEVHUB</p>
						<p class="footer-animation-text-b">PROJECTS</p>
					</div>
				</div>

				<div class="footer-animation-agency-info">
					<div class="footer-animation-content2">
						<div class="footer-animation-address">
							<p class="footer-animation-text-office-address">OFFICE ADDRESS</p>
							<p class="text-gray">
								ID8NXT LLP, B Wing, Second Floor, Krishanlal Marwah Marg,Saki Vihar<br />
								Road, Saki Naka, Andheri East Mumbai - 400 072, Maharashtra, India
							</p>
						</div>

						<div class="footer-animation-email">
							<p class="footer-animation-text-c">Write to Us</p>
							<p class="footer-animation-text-humans-id8nxt-com text-gray">humans@id8nxt.com</p>
						</div>

						<div class="footer-animation-contact-number">
							<p class="footer-animation-text-c">Get On A Call</p>
							<p class="text-gray">
								+91 9923275253<br />
								+91 9890056652
							</p>
						</div>
					</div>

					<div class="footer-animation-subscribe">
						<p class="footer-animation-text-a">Subscribe to Our Newsletter</p>

						<div class="input-group-email">
							<input class="input-group-email-text text1" value="Enter Email Address" />
							<button class="input-group-email-btn-styles hover-bright">Subscribe</button>
						</div>
					</div>

					<div class="footer-animation-social-links1">
						<p class="footer-animation-text-social-links">SOCIAL LINKS</p>
						<object data="../assets/id8nxt-footer-animation/id8nxt-footer-animation-social-links.svg" class="footer-animation-social-links2" type="image/svg+xml"></object>
					</div>
				</div>
			</div>
		</div>

		<div class="_1st-state">
			<footer class="footer">
				<div class="footer-id8nxt">ID8NXT</div>
				<div class="footer-blur"></div>
			</footer>

			<object data="../assets/_1st-state/_1st-state-graphic.svg" class="_1st-state-graphic" type="image/svg+xml"></object>
		</div>
	</div>
</div>

</body>
</html>