
:root {
	/* responsive margins / paddings */
	--margin-sm: 16px;
	--margin-md: 32px;
}

html {
	height: 100%;
	font-size: 16px;
}



/* text utility classes */

.text2 {
	color: #dc1f3e;
	font-size: 16px;
	font-weight: 200;
}

.text-gray {
	color: #858585;
	font-size: 16px;
	font-family: 'Zalando Sans';
	font-weight: 400;
	letter-spacing: 0px;
}

.text1 {
	font-size: 20px;
	font-weight: 300;
}

.sub-text {
	color: #dc1f3e;
}



/* section utility classes */

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 24px;
}



/* ui objects utility classes */

.input {
	border-radius: 3px;
}



/* button hover utility classes */

.hover-bright:hover {
	filter: brightness(1.2);
}
